<div class="container">
  <div class="content m-5">
    <div class="row">
      <div class="col-sm-10">
        <h1 class="title">
          INSTAWEATHER
        </h1>
      </div>
      <div class="col-sm-2">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" (click)="unit = 'C'" name="btnradio" id="btnradio1" autocomplete="off"
            [checked]="unit === 'C'">
          <label class="btn btn-outline-primary" for="btnradio1">C</label>

          <input type="radio" class="btn-check" (click)="unit = 'F'" name="btnradio" id="btnradio2" autocomplete="off"
            [checked]="unit === 'F'">
          <label class="btn btn-outline-primary" for="btnradio2">F</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <div class="location">
          <p>New Cairo</p>
          <p>{{weatherData.currently.time | date}}</p>
          <p>{{weatherData.currently.summary}}</p>
        </div>
      </div>
      <div class="col-sm-2">
        <p class="degree">{{weatherData.currently.temperature | temeratureConverter : unit}}</p>
        <p>
          <span class="degree">{{weatherData.daily.data[0].temperatureHigh | temeratureConverter: unit}}</span> /
          <span class="degree">{{weatherData.daily.data[0].temperatureLow | temeratureConverter: unit}}</span>
        </p>
        <p>{{weatherData.daily.data[0].summary}}</p>
      </div>
    </div>
    <div class="row">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [class.active]="dataMode === 'daily'" (click)="dataMode = 'daily'"
            aria-current="page">Daily</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="dataMode === 'hourly'" (click)="dataMode = 'hourly'">Houry</a>
        </li>
      </ul>
    </div>
    <div *ngIf="dataMode === 'daily'" class="row">
      <daily-data [data]="weatherData.daily.data" [unit]="unit"></daily-data>
    </div>
    <div *ngIf="dataMode === 'hourly'" class="row">
      <hourly-data [data]="weatherData.hourly.data" [unit]="unit"></hourly-data>
    </div>
  </div>
</div>