.degree:after {
  content: "\00b0";
}

.list-group-horizontal > li.list-group-item.data-item {
  border: none;
}

.data-container {
  white-space: nowrap;
  overflow: auto;
}

body {
  color: #fff !important;
}

