.degree:after {
  content: "\00b0";
}

.list-group-horizontal > li.list-group-item.data-item {
  border: none;
}

.data-container {
  white-space: nowrap;
  overflow: auto;
}

body {
  color: #fff !important;
}

.push-end {
  text-align: end;
}

.center {
  text-align: center;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

